<% layout('layout') -%>

<script type='text/javascript'>
//Audio Settings    
var punch = document.createElement('audio');
punch.setAttribute('src', '/sounds/punch.ogg');
var fight = document.createElement('audio');
fight.setAttribute('src', '/sounds/fight.ogg');
var music = document.createElement('audio');
music.setAttribute('src', '/sounds/music.ogg');
var uhh = document.createElement('audio');
uhh.setAttribute('src', '/sounds/uhh.ogg');

$( document ).ready(function() {
    var player1 = $("#player1Hidden").html(),
        player2 = $("#player2Hidden").html(),
        roundTime = parseInt($("#roundTimeHidden").text());
    
    var player1StripCase = player1.toLowerCase(),
        player2StripCase = player2.toLowerCase();
    
    var player1Counter = 0,
        player2Counter = 0;
    
  //Set visibility based on player selection
  if(($("#player1").text() == "") && ($("#player2").text() == "")) {
    $("#playerRow").hide();
  }
  else {
    fight.play();
    music.setAttribute('autoplay', 'autoplay');
    music.loop = true;
      
    $(".hash").text("#");
    $("#playerSelectForm").hide();
    var socket = io.connect('http://localhost:3000');
    socket.on('twitter', function (twidata) {
        console.log(twidata.text);
        if(twidata.text.indexOf(player1StripCase) != -1){
            $("#player1Tweets").append("<i class='fa fa-chevron-right'></i><li class='tweet'><strong>" + twidata.user.screen_name + ":</strong> " + twidata.text + "</li>");
            player1Counter++;
            $("#player1Counter").text(player1Counter);
            punch.play();
        }
        else if(twidata.text.indexOf(player2StripCase) != -1){
            $("#player2Tweets").append("<i class='fa fa-chevron-right bullet'></i><li class='tweet'><strong>" + twidata.user.screen_name + ":</strong> " + twidata.text + "</li>");
            player2Counter++;
            $("#player2Counter").text(player2Counter);
            punch.play();
        }
    });
      
    //Round Timer
    var count = roundTime;
    var counter = setInterval(function timer() {
        $("#countdown").text(count);
        count--;
        if (count <= 0) {
            clearInterval(counter);
            $("#countdown").text(0);
            socket.disconnect();
            music.pause();
            uhh.play();
        }
    }, 1000);
  }
});
</script>
<h2 style="display:none;" id="player1Hidden"><%= player1 %></h2>
<h2 style="display:none;" id="player2Hidden"><%= player2 %></h2>
<h2 style="display:none;" id="roundTimeHidden"><%= roundTime %></h2>
<div class="row">
  <div class="col-lg-12 text-center">
    <h1 id="header"><%= title %></h1>
  </div>
</div>

<div class="row" id="playerSelect">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center" id="instructions">
      <h4>Enter two brand hashtags, such as "#apple" & "#samsung" to see which brand has more exposure on Twitter in realtime.</h4>
    </div>
  </div>
  <div class="row" id="playerSelectForm">
      <form class="form-horizontal" action="/" method="get">
          <fieldset>
              <legend class="text-center">Player Select</legend>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="player1Select"></label>
                  <div class="col-md-4">
                      <div class="input-group">
                          <span class="input-group-addon">#</span>
                          <input id="player1Select" name="player1" class="form-control" placeholder="Brand 1" type="text" required="">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="player2Select"></label>
                  <div class="col-md-4">
                      <div class="input-group">
                          <span class="input-group-addon">#</span>
                          <input id="player1Select" name="player2" class="form-control" placeholder="Brand 1" type="text" required="">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="timer"></label>
                  <div class="col-md-4">
                      <input id="timer" name="roundTime" type="text" placeholder="Seconds to Run" class="form-control input-md" required="">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="fight"></label>
                  <div class="col-md-4 text-center">
                      <button id="fight" class="btn btn-primary btn-group-justified" type="submit">Fight</button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
<div class="row" id="playerRow">
  <div class="row" id="scoreboard">
      <div class="col-lg-1 col-lg-offset-5 text-center">
          <h1 id="player1Counter" class="score">0</h1>
      </div>
      <div class="col-lg-1 text-center">
          <h1 id="player2Counter" class="score">0</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 style="display:inline;" class="time">Time: </h2><h2 id="countdown" class="time" style="display:inline;">0</h2>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 text-center">
    <h2 class="playerHeader">Player 1</h2>
    <h3 class="hash" style="display: inline;"></h3><h3 id="player1" class="player" style="display: inline;"><%- player1 %></h3>
    <div class="tweets">
        <ul id="player1Tweets" class="text-left">
        </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 text-center">
    <h2 class="playerHeader">Player 2</h2>
    <h3 class="hash" style="display: inline;"></h3><h3 id="player2" class="player" style="display: inline;"><%- player2 %></h3>
    <div class="tweets">
        <ul id="player2Tweets" class="text-left">
        </ul>
    </div>
  </div>
</div>
