<% layout('layout') -%>

<script type='text/javascript'>
$( document ).ready(function() {
    
    var player1 = $("#player1Hidden").html(),
        player2 = $("#player2Hidden").html();
    
    var player1StripCase = player1.toLowerCase(),
        player2StripCase = player2.toLowerCase();
    
    var player1Counter = 0,
        player2Counter = 0;
    
  //Set visibility based on player selection
  if(($("#player1").text() == "") && ($("#player2").text() == "")) {
    $("#playerRow").hide();
  }
  else {
    $(".hash").text("#");
    $("#playerSelectForm").hide();
    var socket = io.connect('http://localhost:3000');
    socket.on('twitter', function (twidata) {
        console.log(twidata.text);
        if(twidata.text.indexOf(player1StripCase) != -1){
            $("#player1Tweets").append("<li><strong>" + twidata.user.screen_name + ":</strong> " + twidata.text + "</li>");
            player1Counter++;
            $("#player1Counter").text(player1Counter);
            //punch.play();
        }
        else if(twidata.text.indexOf(player2StripCase) != -1){
            $("#player2Tweets").append("<li><strong>" + twidata.user.screen_name + ":</strong> " + twidata.text + "</li>");
            player2Counter++;
            $("#player2Counter").text(player2Counter);
            //punch.play();
        }
    });
    
    //Round Timer
    var count=30;
    var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
    function timer() {
        $("#countdown").text(count);
        count=count-1;
        if (count <= 0) {
            clearInterval(counter);
            $("#countdown").text(0);
            return;
        }
    };
  }
});
</script>
<h2 style="display:none;" id="player1Hidden"><%= player1 %></h2>
<h2 style="display:none;" id="player2Hidden"><%= player2 %></h2>
<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center">
    <h4>Turbo!</h4>
  </div>
</div>
<div class="row" id="playerSelect">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
      <h5>Enter two brand hashtags, such as "#apple" & "#samsung" to see which brand has more exposure on Twitter in realtime.</h5>
    </div>
  </div>
  <div class="row" id="playerSelectForm">
      <form class="form-horizontal" action="/" method="get">
          <fieldset>
              <legend class="text-center">Player Select</legend>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="player1Select"></label>
                  <div class="col-md-4">
                      <div class="input-group">
                          <span class="input-group-addon">#</span>
                          <input id="player1Select" name="player1" class="form-control" placeholder="Brand 1" type="text" required="">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="player2Select"></label>
                  <div class="col-md-4">
                      <div class="input-group">
                          <span class="input-group-addon">#</span>
                          <input id="player1Select" name="player2" class="form-control" placeholder="Brand 1" type="text" required="">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="fight"></label>
                  <div class="col-md-4 text-center">
                      <button id="fight" class="btn btn-primary btn-group-justified" type="submit">Fight</button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
<div class="row" id="playerRow">
  <div class="row" id="scoreboard">
      <div class="col-lg-1 col-lg-offset-5 text-center">
          <h1 id="player1Counter">0</h1>
      </div>
      <div class="col-lg-1 text-center">
          <h1 id="player2Counter">0</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 style="display:inline;">Time: </h2><h2 id="countdown" style="display:inline;">0</h2>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 text-center">
    <h2>Player 1</h2>
    <h3 class="hash" style="display: inline;"></h3><h3 id="player1" style="display: inline;"><%- player1 %></h3>
    <div class="tweets">
        <ul id="player1Tweets" class="text-left">
        </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 text-center">
    <h2>Player 2</h2>
    <h3 class="hash" style="display: inline;"></h3><h3 id="player2" style="display: inline;"><%- player2 %></h3>
    <div class="tweets">
        <ul id="player2Tweets" class="text-left">
        </ul>
    </div>
  </div>
</div>
